{% extends "BubelbubSmartHomeGUIBundle::base.html.twig" %}

{% block content %}
	<a data-toggle="modal" href="#" data-href="rooms/actions.html" type="button" class="btn btn-default btn-lg userShortcut"> <span class="glyphicon glyphicon-print"></span><br />
		Licht Wohnzimmer </a> <a href="#" type="button" class="btn btn-default btn-lg userShortcut"> <span class="glyphicon glyphicon-tree-conifer"></span><br />
	Tannenbaum </a> <a href="#" type="button" class="btn btn-default btn-lg userShortcut"> <span class="glyphicon glyphicon-bullhorn"></span><br />
	Alarm </a> <a href="#" type="button" class="btn btn-default btn-lg userShortcut"> <span class="glyphicon glyphicon-picture"></span><br />
	Urlaub </a>
{% endblock content %}
